  <div class="container-boards">
     
        <div class="container__navs">

            <div class = "nav__myBoards">
                <p>My boards</p>
            </div>

            <div class = "nav__closedBoards">
                <p>Closed boards</p>
            </div>

            <div class = "nav__myProfile">
                <p>My Profile</p>
            </div>

            <div class = "nav__logout">
                <p>log out</p>
            </div>

        </div>

        
            <div class="container__boards">
            
                <div class="icon__favorite">
                    <icon class="ri-star-line js-star"></icon><p>Your Starred Boards</p>
                </div>
            
                <div class="boards__favorite">
                        <div class="favorite">
                            <p>Home</p> <div class="start"><img class="js-toggle" src="/assets/components/img/toggle.svg"><icon class ="ri-star-line js-star"></icon></div>
                        </div>

                        <div class="favorite">
                            <p>Codeable</p> <div class="start"><img class="js-toggle" src="/assets/components/img/toggle.svg"><icon class="ri-star-line js-star"></icon></div>
                        </div>

                        <div class="favorite">
                            <p>Portafolio</p><div class="start"><img class="js-toggle" src="/assets/components/img/toggle.svg"><icon class="ri-star-line js-star"></icon></div>
                        </div>
                </div>

                <div class="icon__favorite">
                    <img src="/assets/components/img/vector.svg"><p>Your Boards</p>
                </div>
            
                <div class="boards__cards">
                        <div class="cards-initial">
                            <p>DOTA</p><div class="start"><img class="js-toggle" src="/assets/components/img/toggle.svg"><icon class="ri-star-line js-star"></icon></div>
                        </div>

                        <div class="cards-initial">
                            <p>Consulting</p><div class="start"><img class="js-toggle" src="/assets/components/img/toggle.svg"><icon class="ri-star-line js-star"></icon></div>
                        </div>

                        <div class="cards-initial">
                            <p>Linkedln</p><div class="start"><img class="js-toggle" src="/assets/components/img/toggle.svg"><icon class="ri-star-line js-star"></icon></div>
                        </div>

                        <div class="cards-initial">
                            <p>Meet Ups</p><div class="start"><img class="js-toggle" src="/assets/components/img/toggle.svg"><icon class="ri-star-line js-star"></icon></div>
                        </div>

                        <div class="cards-initial">
                            <p>Side Project</p><div class="start"><img class="js-toggle" src="/assets/components/img/toggle.svg"><icon class="ri-star-line js-star"></icon></div>
                        </div>

                        <div class="cards-initial">
                            <p>Others</p><div class="start"><img class="js-toggle" src="/assets/components/img/toggle.svg"><icon class="ri-star-line js-star"></icon></div>
                        </div>

                </div>

                <button class="btn__board">Create a new Board</button>

            </div>





  </div>
