 <!-- -------------------------------------- -->
      <!-- POP UP-->
      <section class="modal">
        <div><h2 class="modal__header">Login & Logout</h2></div>
        <div class="modal__left">
          <div class="modal__left--labels">
            <div class="modal__title">LABELS</div>
          </div>
          <div>
            <h2 class="modal__title">DESCRIPTION</h2>
            <p class="modal__description">This is the description of the card. It could be long or short.</p>
            <button class="modal__description--button">Edit</button>

            <!--Aditional functions-->
          </div>
        </div>
        <div class="modal__right">
          <div class="modal__right--labels">
            <div class="">LABELS</div>
            <div class="list-labels">
              <!--ITERAR MI LIST DE LABELS-->
              <div class="label_list">
                <div class="label__modal label__modal-1"></div>
                <img src="./assets/img/edit.png" alt="edit icon">
              </div>
              <div class="label_list">
                <div class="label__modal label__modal-2"></div>
                <img src="./assets/img/edit.png" alt="edit icon">
              </div>
              
              <!--TERMINAR ITERACION DE LIST DE LABELS-->
              <!--BUTTONS FOR LABELS-->
              <button class="label-new">Create a new label</button>
            </div>
          </div>
          <button class="button__cancel-card">Create a new label</button>
        </div>
      </section>