
    <div class="container-boards">
     
        <div class="container__navs">

            <div class = "nav__myBoards">
                <p>My boards</p>
            </div>

            <div class = "nav__closedBoards">
                <p>Closed boards</p>
            </div>

            <div class = "nav__myProfile">
                <p>My Profile</p>
            </div>

            <div class = "nav__logout">
                <p>log out</p>
            </div>

        </div>
   
        <div class="closed-board">
           <div class="icon__favorite">
              <img src = "/assets/components/img/toggle.svg"class="js-closed"></icon><p>Closed Boards</p>
           </div>

            <div class="boards__favorite">
                    <div class="favorite">
                        <p>Codeable Postulation</p> <div class="start"><icon class ="ri-delete-bin-line js-delete"></icon><img class="js-return" src="/assets/components/img/return.svg"></div>
                    </div>

                    <div class="favorite">
                        <p>Odin Project</p> <div class="start"><icon class="ri-delete-bin-line js-delete"></icon><img class="js-return" src="/assets/components/img/return.svg"></div>
                    </div>

                    <div class="favorite">
                        <p>Portafolio</p><div class="start"><icon class="ri-delete-bin-line js-delete"></icon><img class="js-return" src="/assets/components/img/return.svg"></div>
                    </div>
            </div>
        </div>
   </div>
