    <div class="container-create">

       <div class="create__boards">
           <div class="board__body"><input type="text" placeholder="Board title"><icon class="ri-close-line js-close"></icon></div>
           <button class="button__create">Create Board</button>
       </div>

       <div class="boards__color">
           <div class="js-board-blue"></div>
           <div class="js-board-orange"></div>
           <div class="js-board-green"></div>
           <div class="js-board-brown"></div>
           <div class="js-board-purple"></div>
           <div class="js-board-pink"></div>
           <div class="js-board-greenLigth"></div>
           <div class="js-board-skyblue"></div>
           <div class="js-board-gray"></div>
       </div>


    </div>
